@import url('https://fonts.googleapis.com/css?family=Alegreya|Alegreya+Sans');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin');

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


.grid-container {
  margin: 0 auto;
  padding: 8px;
  display: grid;
  grid-template-columns: ;
  grid-template-rows: 10fr 16fr;
  grid-template-areas: "banner" "body";
}

.fa-rocket {
  font-size:  5em;
}

.top-right {
  position: absolute;
  top: 12px;
  right: 12px
}

.bottom-left {
  position: absolute;
  bottom: 12px;
  left: 12px
}

.send-right {
  margin-left: 80%;
}

.banner {
  position: relative;
  grid-area: banner;
  background-color: #eaffd050;
  justify-content: space-between;
  padding: 8px;
}


.avatar-circle {
  position: relative;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-color: #f3818180;
}

.fa-user-astronaut {
  color: #95e1d3;
  font-size: 8em;
}

.avatar-circle h1 {
  font-size: 2em;
  position: absolute;
  left: 12%;
  top: 12%;
}

.avatar-circle i {
  position: absolute;
  left: 70%;
  top: 70%;
}


.body { grid-area: body;
background-color: #fce38a50;
height: 62vh;
  padding: 8px;
}


body {
  background-color: #fcf9ed;
  font-family: 'Libre Franklin', sans-serif;
  color: #665c84;
  font-size: 20px;
  line-height: 2em;
}

h1, h2 {
  color: #f38181
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2em;
  text-transform: capitalize;
}

h2 {
  font-size: 1em
}

.container {
  margin: 0 auto;
  padding: 32px;
}
.text-center {
  text-align: center;
}

.card-colour {
  background-color: #EFF2D8;
}

.card {
  width: 90%  ;
  margin: 24px auto;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
}

.img-circle {
  width: 300px;
  border-radius: 50%;
}

.social-icons {
  color: LightSlateGray;
  font-size: 2em;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
